@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonte {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
} 

.botao {
    font-size: 22px;
    color: #fff;

    padding: 8px 50px;
    margin-top: 60px;

    border: 0px;
    border-radius: 10px;
    background-color: #7200E3;
}

.botao:hover {
    background-color: #850CFF;
}